
.application {
    position: relative;
}

.panel {
    position: fixed;
    top: 0;
    right: 0;
    left: 300px;
    height: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 300px;
    border-right: 1px solid black;
    background: linear-gradient(180deg, rgba(9,4,97,1) 17%, rgba(0,116,255,1) 71%);
}

/* .list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 5px 0 0 5px;
    width: 25px;
    height: 25px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
} */
.list {
    position: absolute;
    top: 15px;
    left:15px;
    border-radius: 30px;
    background-color: white;
    width: 40px;
    height: 40px;
    transition: 0.5s;
}

.list:before {
    display: block;
    content: '';
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    border-radius: 30px;
    width: 25px;
    height: 25px;
    background-color: rgba(9,4,97,1);
    transition: 0.5s;
}

.list:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transition: 0.5s;
    cursor: pointer;
}

.list:hover:before {
    top: 70%;
    transform: translate(-50%, -50%);
    left: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.back {
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 30px;
    background-color: white;
    width: 40px;
    height: 40px;
    transition: 0.5s;
}

.back:before {
    display: block;
    content: '';
    position: relative;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    width: 25px;
    height: 25px;
    background-color: rgba(9,4,97,1);
    transition: 0.5s;
}

.back:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transition: 0.5s;
    cursor: pointer;
}

.back:hover:before {
    top: 0;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    transition: 0.5s;
}

.modalList {
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: center;
    width: 300px;
    height: 500px;
    background-color: rgba(255, 255, 255,0.8);
    overflow: hidden;
    position: absolute;
    transform: translateX(-300px);
    z-index: 1;
    transition: all 1s;
}

.modalList div {
    text-align: center;
}

.modalList div a {
    font-size: 30px;
    transition: 0.5s;
}

.modalList div a:hover {
    text-decoration: none;
    color: rgba(0,116,255,0.6);
}

.modalList .cont {
    margin-top: 50px;
}

.sidebarButtons {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-height: 100%;
    max-width: 100%;
    margin-top: 60px
}

.sidebarButtons button {
    display: inline-block;
    font-size: 25px;
    border-radius: 10px;
    vertical-align: center;
    margin-top: 10px; 
    max-width: 100%;
    min-height: 50px;
    transition: 0.5s;
    background: white;
    border: none;
}

.sidebarButtons button:hover {
    background: rgba(255, 255, 255,0.8);
    transition: 0.5s;
}

.sidebarButtons button:focus {
    outline: none;
}

/* list panel */
.cont {
    font-family: 'TT Commons', sans-serif;
    text-decoration: none;
    transition: 0.5s;
}

.str {
    font-family: 'TT Commons', sans-serif;
    text-decoration: none;
    transition: 0.5s;
}

.colon {
    font-family: 'TT Commons', sans-serif;
    text-decoration: none;
    transition: 0.5s;
}

.dropList {
    max-height: 300px;
    overflow: hidden;
    position: absolute;
    left: -200px;
    transition: 0.5s;
    display: block;
}

.dropList div{
    font-size: 18px;
    color: rgba(0,116,255,0.8);
}

.active {
    position: relative;
    left: 0px;
    transition: 0.5s;
}

